# Ignore files
*.png
*.jpg
*.pdf
*.CEL
*.gz
*.tar
*.HTML
.Rproj.user
.Rhistory
.RData
.Ruserdata
/01_ANALISIS_MICROARREGLOS/01_MICROARREGLOS_DE_GENES/01_ANALISIS_POR_PLATAFORMAS/02_EXPERIMENTOS_AGILENT/GSE15197/01_DATOS/
/01_ANALISIS_MICROARREGLOS/01_MICROARREGLOS_DE_GENES/01_ANALISIS_POR_PLATAFORMAS/02_EXPERIMENTOS_AGILENT/GSE53845/01_DATOS/
/01_ANALISIS_MICROARREGLOS/01_MICROARREGLOS_DE_GENES/01_ANALISIS_POR_PLATAFORMAS/03_EXPERIMENTOS_ILUMINA/GSE35145/01_DATOS/
/01_ANALISIS_MICROARREGLOS/01_MICROARREGLOS_DE_GENES/01_ANALISIS_POR_PLATAFORMAS/03_EXPERIMENTOS_ILUMINA/GSE48149/01_DATOS/


